.c1{
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background-color:#034C53;
    border: 2px solid black;
    border-radius: 10px;
}
#d1{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-content: center;
    gap: 30px;
    float: right;
    margin: 30px;
    color: #fff2ff;
}
/* #a11 img{
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 50%;
} */
/* #a12 img{
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#a13 img{
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#a14 img{
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#a15 img{
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    border-radius: 50%;
} */
/* #a12{
    float: right;
}
#a14{
    float: right;
} */

.img{
    float: left;
    padding: 10px;
    border-radius: 30PX;
   width: 33.33%;
}
.c3{
    height: 25px;
    width: 300px;
    background-color: aliceblue;
    color: blue;
    margin: 100px;
}
.c5{
    margin: 90px;
    font-weight: bold;

}
#m1{
    float: right;
    height: 300px;
    border-radius: 30px;
    margin: 10px;
    top: 20px;
}
/* #a11{
    justify-content: center;
    align-items: center;
} */
.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    gap: 100px;
}
.c4{
    justify-content: center;
    align-items: center;
}
i{
    border: 2px solid orangered;
    border-radius: 50%;
    font: 20px;
    opacity: 0.5;
}
i:hover{
    font:20px;
    opacity: 1;
}
