.c1{
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background-color:#034C53;
    border: 2px solid black;
    border-radius: 10px;
}
#d1{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-content: center;
    gap: 30px;
    float: right;
    margin: 30px;
    color: #fff2ff;
}
.c3{
    height: 25px;
    width: 300px;
    background-color: aliceblue;
    color: blue;
    margin: 100px;
}
.c5{
    margin: 90px;
}
 .c7{
    display: flex;
    justify-content: space-around;
    text-align: center;
 }
 .c8{
    display: flex;
    justify-content: space-around;
    text-align: center;
 }
 .c7 img{
    border-radius: 20px;
 }
 .c8 img{
    border-radius: 20px;
 }
 .c7 img:hover{
    transform: scale(1.1);
 }
 .c8 img:hover{
    transform: scale(1.1);
 }
.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    gap: 100px;
}
.c4{
    justify-content: center;
    align-items: center;
}
i{
    border: 2px solid orangered;
    border-radius: 50%;
    font: 20px;
    opacity: 0.5;
}
i:hover{
    font:20px;
    opacity: 1;
}
#d5{
    float: right;
}
