.navbar {
  height: 80px;
  width: 100%;
  background-color: #183B4E;
  border-radius: 25px;
  float: left;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  gap: 25px;
  padding: 15px;
  align-content: center;
}

#d11 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d12 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d13 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d14 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d11:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d12:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d13:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d14:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

.c1 {
  background-image: url("https://wallpaperbat.com/img/8612027-faq.png");
  background-repeat: no-repeat;
  color: azure;
  height: 600px;
  width: 100%;
  border-radius: 25px;
  position: relative;
  top: 100px;
}

.c2 {
  height: 100px;
  width: 400px;
  position: absolute;
  top: 100px;
  left: 50px;

}


.container {
  background-image: linear-gradient(#27548A, #F3F3E0);
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 27px;
}

a {
  text-decoration: none;
  color: maroon;
}

i {
  border: 6px solid orangered;
  border-radius: 50%;
  font: 20px;
  opacity: 0.5;
}

i:hover {
  font: 20px;
  opacity: 1;
}

#footer {
  height: 400px;
  width: 100%;
  background-color: #183B4E;
  border-radius: 25px;
  display: flex;
  gap: 350px;
  position: relative;
  padding: 50px;
}

#d10 {
  display: flex;
  gap: 100px;
}

iframe {
  height: 280px;
  width: 400px;
}

span {
  color: black;
}

.c7 {
  height: 250px;
  width: 100%;
  gap: 10px;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 330px;

  .c7 {
    text-align: center;
  }
}