body {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: #183B4E;
  border-radius: 25px;
  float: left;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  gap: 25px;
  padding: 15px;
  align-content: center;
}

#d11 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d12 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d13 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d14 {
  text-decoration: solid;
  color: #DFD0B8;
}

#d11:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d12:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d13:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

#d14:hover {
  text-decoration: underline;
  color: #D9EAFD;
}

.c2 a {
  text-decoration: none;
  color: indigo;
}

a:hover {
  color: orangered;
}

.c3 {
  display: flex;
  height: 100px;
  margin: 0;
}

.typing-text {
  font-size: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.text {
  display: inline-block;
  overflow: hidden;
  width: 0;
  color: black;
  animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

.cursor {
  color: black;
  display: inline-block;
  animation: blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}



i {
  border: 6px solid orangered;
  border-radius: 50%;
  font: 20px;
  opacity: 0.5;
}

i:hover {
  font: 20px;
  opacity: 1;
}

#footer {
  height: 400px;
  width: 100%;
  background-color:#183B4E;
  border-radius: 25px;
  display: flex;
  gap: 350px;
  position: relative;
  padding: 50px;
}

#d10 {
  display: flex;
  gap: 100px;
}

iframe {
  height: 280px;
  width: 400px;
}

span {
  color: black;
}

.c7 {
  height: 250px;
  width: 100%;
  gap: 10px;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 330px;

  .c7 {
    text-align: center;
  }
}