.c1{
  height: 100px;;
  width: 100%;
  background-color:#034C53;
  border: 2px solid black;
  border-radius: 25px; 
}
#d1{
  float: right;
  margin-right: 20px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #FFF2F2;
    gap: 25px;
align-content: center;
margin-top: 30px;
}
#d11:hover{
    text-decoration: underline;
    color: lawngreen;
}
#d12:hover{
  text-decoration: underline;
  color: lawngreen;
}
#d13:hover{
  text-decoration: underline;
  color: lawngreen;
}
#d14:hover{
  text-decoration: underline;
  color: lawngreen;
}

.c2 a{
  text-decoration: none;
  color: indigo;
}
a:hover{
  color:orangered;
}

.c3{
  display: flex;
  height: 100px;
  margin: 0;
}
.typing-text {
  font-size:50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.text {
  display: inline-block;
  overflow: hidden;
  width: 0;
  color: black;
  animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite; 
}

.cursor {
  color: black;
  display: inline-block;
  animation: blink 0.75s step-end infinite; 
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.c4 {
  height: 500px;
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 40px;
}
p{
  color: lightslategray;
}

#button1 {
  background-color: white;
  border-color: rgb(154, 20, 154);
  color: purple;
}

#button1:hover {
  opacity: 0.6;
}
h2{
  color: black;
}
h4{
  color: purple;
}
h4:hover{
  color: navy;
}
.c6{
  
    height: 500px;
    width:100% ;
   
    display: flex;
    gap: 25px;
}


.c5:hover{
  transform: scale(1.1);
  transition: 0.3s;
  }


.footer{
  height: 100px;
  width: 100%;
  text-align: center;
  gap: 100px;
  background-color: black;
  color: whitesmoke;
  border-radius: 15px;

}
i{
 border:6px solid orangered;
 border-radius: 50%;
 font: 20px;
 opacity: 0.5;
}
i:hover{
  font:20px;
  opacity: 1;
}
#d8{
  height: 300px;
  width: 100%;
  /* border: 2px solid black; */
display: flex;
gap: 350px;
margin-left: 60px;
margin-right:40px ;
}
#d10{
  display: flex;
  gap: 100px;
}
span{
  color: black;
}
.c7{
height: 250px;
width: 100%;
/* background-color: aquamarine; */
gap: 10px;
.c7{
  text-align: center;
}
}
img{
  margin-top: 15px;
  border-radius: 10px;
  border: 8px solid black;
  height: 200px;
  width: 400px;
}